/* General Styles */
body {
    font-family: 'Inter', sans-serif;
}

/* Button Styles */
button {
    cursor: pointer;
}

/* Rotation for Icon */
.rotate-90 {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

/* Settings Button Styles */
#settingsToggle {
    position: absolute;
    top: 1rem;
    left: 1rem;
    transition: transform 0.3s ease;
}

/* Modal Styles */
#settingsModal {
    transition: max-height 0.5s ease, opacity 0.5s ease;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

#settingsModal:not(.hidden) {
    max-height: 1000px;
    opacity: 1;
}

/* Conversion Section Styles */
#conversionContent {
    transition: max-height 0.5s ease, opacity 0.5s ease;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

#conversionContent:not(.hidden) {
    max-height: 1000px;
    opacity: 1;
}
